
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="customerName">Customer Name</label>
    <input type="text" formControlName="customerName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }" />
    <div *ngIf="submitted && f.customerName.errors" class="invalid-feedback">
        <div *ngIf="f.customerName.errors.required">customerName is required</div>
    </div>
</div>
<div class="form-group">
  <label for="emailAddress">Email Address</label>
  <input type="text" formControlName="emailAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" />
  <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
      <div *ngIf="f.emailAddress.errors.required">emailAddress is required</div>
  </div>
</div>
<div class="form-group">
  <label for="customerAddress">Customer Address</label>
  <input type="text" formControlName="customerAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customerAddress.errors }" />
  <div *ngIf="submitted && f.customerAddress.errors" class="invalid-feedback">
      <div *ngIf="f.customerAddress.errors.required">customerAddress is required</div>
  </div>
</div>
<div class="form-group">
  <label for="userName">Username</label>
  <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
  <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
      <div *ngIf="f.userName.errors.required">userName is required</div>
  </div>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">password is required</div>
  </div>
</div>
<div class="form-group">
  <label for="cellphoneNo">CellphoneNo</label>
  <input type="text" formControlName="cellphoneNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cellphoneNo.errors }" />
  <div *ngIf="submitted && f.cellphoneNo.errors" class="invalid-feedback">
      <div *ngIf="f.cellphoneNo.errors.required">cellphoneNo is required</div>
  </div>
</div>
<div class="form-group">
  <button [disabled]="loading" class="btn btn-primary">
      <span routerLink="/cart" *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Register
  </button>
  <a routerLink="/login" class="btn btn-link">Cancel</a>
</div>
  </form>





